.list-item-row {
    height: 15px;
    font-size: 16px;

    .item-row-left {
        margin-top: -10px;
        min-width: 120px;

        .glyphicon {
            margin: 0 5px;
        }
        .item-name {
            font-size: 16pt;
        }
    }
    .btn {
        margin: -9px 10px;
    }
}
#delete_list {
    .btn {
        float: right;
        margin-right: -5px;
    }
}
#add_list_box {
    input {
        width: 100%;
        border: 1px solid #222;
        margin-top: 10px;
    }
    .btn {
        margin-top: 10px;
    }
}
#add_item_box {
    .btn {
        margin-left: 10px;
    }
    @media (max-width: 768px) {
        input {
            width: 100%;
        }
        .btn {
            width: 100%;
            margin: 10px 0;
        }
    }
}